[package]
name = "fnmock-example-project"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
"fnmock" = { path = "../fnmock" }