[package]
name = "fnmock"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
fnmock-derive = { path = "../fnmock-derive" }