[package]
name = "mock-example-project"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
"mock-lib" = { path = "../mock-lib" }